.blogNavRightElements{
    background-color:rgb(79, 58, 58);
    color: white;
}

#RegisterID {
    position: absolute;
    left : 60px;
}

#HomeID {
    position: absolute;
    right: 250px;
}

#MostPopularID {
    position: absolute;
    right: 150px;
}

#MostRecentID {
    position: absolute;
    right: 50px;
}

.blogNavRightElements{	/*Just do following!! ;)*/
    border: 3px solid blue;
    /*position: relative;*/
    /*left: 200px;*/
}

.title {
    border: 3px solid gray;
    position :relative;
}

#blogID {
    text-align: center
}

#blog1, #blog2 {
    /*block-size: 40%;*/
    /*position: relative;*/
    /*left: 100px;*/
    border: 3px solid black;
    width: 40%;
}

#image1, #image2 {
    width: 50%; /*image width*/
    float: left; /*image position*/
}


#blogs {
    float: left;
    width: 100%;
}


#mostRecent {
    position: absolute;
    top: 350px;
    right: 100px;
    width: 30%;

}

.recentClass {
    text-underline: green;
}

#mostRecent {
    border:3px solid blue;
}



#mostPopular {
    position: absolute;
    top: 700px;
    right: 100px;
    width: 30%;
}


#mostPopular {
    border:3px solid cyan;
}



body {
    background-image: url('blog-image.jpg');

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    background-repeat: no-repeat;

    /* Makes the image fixed in the viewport so that it doesn't move when
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
}


/* For mobile devices */
@media only screen and (max-width: 850px) {
    body {
        /* The file size of this background image is 93% smaller
         * to improve page load speed on mobile internet connections */
        background-image: url(blog-image_50.jpg);
    }
}



#myphoto {
    /*border-radius: 50%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
